/*Chrome's default stylesheet
https://gist.github.com/ambidexterich/34828a904dd97dd2a345
*/

body {
    background-color: #efeee7;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
}

header h1 {
    color: #eee;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 10px;
    display: block; /*as seen on Chrome's default stylesheet*/
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.container h2 {
    font-size: 2em;
    margin: 26px 0px;
}

.container #main-bio {
    float: left;
    width: 70%;
}

.container #bio-image {
    float: left;
    width: 200px;
    margin: 10px;
}

.container #contact-info {
    float: left;
    width: 30%;
    line-height: 150%;
}

.footer {
    clear: both;
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 1.25em;
}